.button {
    padding: 10px 20px;
    min-width: 100px;
    font-size: 16px;
    border: none;
    letter-spacing: 1px;
    color: var(--color-grey-1);
    background-color: var(--color-secondary-2);
    border-radius: 3px;
    transition: background-color .3s;
    cursor: pointer;
}

.button--secondary {
    background-color: var(--color-grey-4);
}

.button:hover {
    background-color: var(--color-secondary-1);
}

.button:active {
    background-color: var(--color-secondary-3);
}

.button--secondary:hover {
    background-color: var(--color-grey-3);
}

.button--secondary:active {
    background-color: var(--color-grey-5);
}