.stats {
    margin: 0 auto;
    max-width: 1920px;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 750px;
}

.stats-lists {
    display: flex;
    gap: 40px;
    overflow: hidden;
}