.stats {
    margin: 0 auto;
    width: 100%;
}

.stats-lists {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.stats-lists__list {
    display: flex;
    flex-direction: column;
}

.stats-lists__entry {
    padding: 20px;
    border-radius: 2px;
    background-color: var(--color-primary-4);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.stats-lists__entry--player .fancy_title {
    flex-grow: 1;
}

.stats-lists__extra-stats {
    display: flex;
    gap: 15px;
    white-space: nowrap;
    font-size: 13px;
}