.drafter-timeline {
    position: absolute;
    text-align: right;
    width: 200px;
    height: 100%;
    left: -240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-4);
    border-radius: 5px;
}

.drafter-timeline__item {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.drafter-timeline__item svg {
    margin-right: 10px;
}

.drafter-timeline__item--active {
    color: white;
}

.drafter-timeline__item--disabled {
    opacity: .5;
}