.button {
	background-color: var(--gold-9);
	border: none;
	font-family: Myriad-Bold, sans-serif;
	color: var(--sand-12);
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 16px;
	letter-spacing: 1px;
	transition: 0.2s;
	cursor: pointer;
}

.button--secondary {
	background-color: var(--gold-4);
}

.button:hover {
	background-color: var(--gold-10);
}

.button--secondary:hover {
	background-color: var(--gold-5);
}
