.drafter-settings {
    max-width: 512px;
    margin: 0 auto;
    position: relative;
}

.settings__presets {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 512px) {
    .settings__presets {
        grid-template-columns: 1fr 1fr;
    }

    .input_inline {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .input_inline label {
        margin-bottom: 10px;
    }

    .input_inline input {
        width: 100% !important;
    }
}