.drafter-bans {
    max-width: 1375px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 1449px) {
    .drafter-bans .drafter-timeline {
        display: none;
    }
}

.drafter-bans__civs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.drafter-bans__civs .civ {
    width: 200px;
}

.drafter-bans__banned_civ {
    opacity: .3;
}