.drafter-bans {
    max-width: 925px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 1449px) {
    .drafter-bans .drafter-timeline {
        display: none;
    }
}

.drafter-bans__civs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}