.navbar__item {
    background-color: transparent;
    border: none;
    color: var(--color-grey-1);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 3px;
    border-radius: 5px;
}

.navbar__item:hover {
    color: white;
    background-color: var(--color-primary-2);
}

.navbar__item--active {
    color: white;
    background-color: var(--color-primary-2);
}

.navbar__item_icon {
    margin-right: 10px;
}