.leaderGrid {
	display: grid;
	grid-template-columns: repeat(5, minmax(min-content, 1fr));
	row-gap: 20px;
	column-gap: 20px;
}

@media (max-width: 1919px) {
	.leaderGrid {
		grid-template-columns: repeat(4, minmax(min-content, 1fr));
	}
}

@media (max-width: 1550px) {
	.leaderGrid {
		grid-template-columns: repeat(3, minmax(min-content, 1fr));
	}
}

@media (max-width: 1170px) {
	.leaderGrid {
		grid-template-columns: repeat(2, minmax(min-content, 1fr));
	}
}

@media (max-width: 780px) {
	.leaderGrid {
		grid-template-columns: repeat(1, minmax(min-content, 1fr));
	}
}
