.civ-ban-button {
    cursor: pointer;
    transition: .2s;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}

.civ-ban-button:hover {
    background-color: var(--color-primary-2);
}

.civ-ban-button__ban-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: var(--color-red-2);
    display: none;
}

.civ-ban-button--banned .civ {
    opacity: .3;
}

.civ-ban-button--banned .civ-ban-button__ban-icon {
    display: block;
}