.navbar {
    background: linear-gradient(180deg, rgba(8,34,56,1) 0%, rgba(16,50,79,1) 100%, rgba(23,62,97,1) 100%);
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 850px) {
    .navbar img {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .navbar {
        justify-content: center;
    }

    .navbar img {
        display: none;
    }

    .navbar__item_icon {
        margin-right: 0 !important;
    }

    .navbar__item span:last-child {
        display: none;
    }
}