.civ_card {
    width: 484px;
    margin: 0;
}

.civ_card__stats {
    display: flex;
    flex-shrink: 0;
}
.civ_card__stats > div {
    display: flex;
    flex-direction: column;
}

.civ_card__stats > div:first-child span {
    margin-right: 5px;
}

.civ_card__stats span:first-child {
    margin-bottom: 5px;
}

.civ_card__labels {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}