@font-face {
    font-family: 'Baskerville-Regular';
    src: url('assets/fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: 'Baskerville-Bold';
    src: url('assets/fonts/LibreBaskerville-Bold.ttf');
}