@font-face {
  font-family: 'Alexandria-Regular';
  src: url('assets/fonts/Alexandria-Regular.ttf');
}

@font-face {
  font-family: 'Alexandria-Bold';
  src: url('assets/fonts/Alexandria-Bold.ttf');
}

@font-face {
  font-family: 'Baskerville-Regular';
  src: url('assets/fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Baskerville-Bold';
  src: url('assets/fonts/LibreBaskerville-Bold.ttf');
}

body {
  font-family: "Alexandria-Regular", sans-serif;
  background-color: var(--color-primary-darkest);
  color: var(--color-grey-1);
  min-width: 375px;
}

h1, h2, h3, h4, h5 {
  font-family: "Alexandria-Regular", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: white;
}

h1 {
  font-family: "Baskerville-Regular", sarif;
  font-size: 28px;
}

h2 {
  font-family: "Baskerville-Regular", sarif;
  margin-bottom: 40px;
  font-size: 24px;
}

h3 {
  font-family: "Alexandria-Regular", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
}

h4 {
  font-size: 16px;
  letter-spacing: 1px;
}

p, li {
  line-height: 1.5;
  font-size: 14px;
}

a {
  color: var(--color-secondary-2);
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: var(--color-secondary-1);
}

:root {
  --color-primary: #123557;
  --color-primary-dark: #092034;
  --color-primary-darkest: #04121e;
  --color-primary-light: #0E5167;

  --color-primary-4: #082238;
  --color-primary-3: #10324F;
  --color-primary-2: #173e61;

  --color-secondary-3: #6e2e08;
  --color-secondary-2: #994210;
  --color-secondary-1: #b85b26;

  --color-grey-6: #1a1e24; 
  --color-grey-5: #272c33; 
  --color-grey-4: #3f4652;
  --color-grey-3: #777d87;
  --color-grey-2: #a9abaf;
  --color-grey-1: #cacaca;

  --color-red-2: #881616;
}

.tabs {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--color-primary);
}

.tab {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  letter-spacing: 3px;
}

.tab:hover {
  color: white;
  border-bottom: 3px solid var(--color-primary-light);
}

.tab[data-state='active'] {
  color: white;
  border-bottom: 3px solid var(--color-secondary);
}

.tab-content {
  padding: 20px 0;
}