.civ {
    display: flex;
}

.civ__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.civ__portrait {
    margin-right: 10px;
}

.civ__portrait img {
    width: 60px;
}

.civ__leader {
    font-family: 'Baskerville-Regular';
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.civ__nation {
    color: var(--color-grey-2);
}