.civ {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.civ__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    flex-shrink: 1;
    overflow: hidden;
}

.civ .fancy_title {
    margin-bottom: 5px;
}

.civ__nation {
    color: var(--color-grey-2);
    font-size: 13px;
    letter-spacing: 1px;
}