.drafter-results {
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 1315px) {
    .drafter-results .drafter-timeline {
        display: none;
    }
}

@media only screen and (max-width: 1075px) {
    .drafter-results .civ_card, .drafter-results__card_placeholder {
        display: none;
    }
}

@media only screen and (max-width: 551px) {
    .drafter-results__civs .civ {
        width: 100% !important;
    }

    .drafter-results__header {
        display: block !important;
        margin-bottom: 20px;
    } 

    .drafter-results__header h2 {
        margin-bottom: 10px;
    }

    .drafter-results__header button {
        flex-grow: 1 !important;
    }
}

.drafter-results__card_placeholder {
    width: 484px;
    flex-shrink: 0;
    margin: 0;
    padding: 20px;
    height: 200px;
}

.drafter-results__civs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.drafter-results__civs .civ {
    width: 200px;
}

.drafter-results__disabled_civ {
    opacity: .3;
}