.drafter-results {
    max-width: 885px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.drafter-results .civ_card {
    margin-top: 98px;
}

.drafter-results__civs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}